/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* custom styles */

body {
    line-height: 1;
}

header {
    background-color: rgb(4, 4, 54);
    padding: 35px;
    text-align: center;
    font-size: 36px;
}

header a {
    margin: 0 30px;
    text-decoration: none;
    color: #fff;
}

header a:hover {
	color: green;
}

.active {
	color: green;
}

.container {
    display: flex;
    margin: 50px 100px;
}

.box {
    margin-left: 160px;
    text-wrap: balance;
}

.parent {
    display: flex;
    margin: 50px 100px;
}

.child {
    margin: 0;
    flex: 50%;
}

h1 {
    font-size: 46px;
    font-weight: bold;
}

p{
    font-size: 30px;
    margin: 10px 0;
    text-wrap: balance;
}

.button {
    background-color: #15BA3A;
    width: 130px;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    color: #fff;
    text-transform: capitalize;
}

img {
    width: 684px;
    height: 487px;
}

.green {
    color: green;
    font-size: 26px;
    font-weight:bold;
    text-transform: capitalize;
}