/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */

body{
     line-height: 1.2;
}

h1{
   font-size: 95px;
   text-align: center;
   padding: 36px 180px;
}

hr{
  width: 800px;
  border: 1px dashed;
  margin-top: 50px;
    
}

h2 {
	font-size: 36px;
	text-align: center;
	padding: 36px;
	margin-bottom: 40px;
}

.box {
	width: 200px;
	height: 200px;
	background-color: rgb(190, 238, 117);
	border: 20px solid rgb(127, 127, 234);
	outline: 10px solid black;
	box-shadow: 0 0 0 30px palevioletred;
    margin: 0 auto;
}

.level {
	text-align: center;
	margin-top: 80px;
}

.circle{
	height: 20px;
	width: 20px;
	display: inline-block;
	background-color: rgb(89, 236, 89);
	border-radius: 50%;
	vertical-align: middle;
	margin: 0 auto;

}

.padding{
	background-color: skyblue;
}

.border {
	background-color: black;
}

.margin {
	background-color: pink;
}

.indicate {
	margin-right: 24px;
	display: inline-block;
}

p{
	text-align: center;
	font-size: 36px;
	margin-top: 36px;
}

.container {
	width: 600px;
	border: 1px solid gray;
	margin: 50px auto;
	font-size: 0;
	
}

.child-box {
	width: 180px;
	height: 100px;
    margin: 10px;
	background-color: gray;
	display: inline-block;
}

.border {
    border: 1px solid black;
}

.border-box {
	box-sizing: border-box;
}