/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

hr {
    margin: 50px 500px;
    border: 2px dashed gray;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 100px;
}

.box {
    width: 200px;
    height: 200px;
    background-color: palevioletred;
    border: 20px double black;
    margin: auto;
    outline: 10px solid green;
    box-shadow: 0 0 0 30px indigo;
    
}

.level {
    text-align: center;
    margin-top: 100px;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: aqua;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}

.margin{
    display: inline-block;
    margin-right: 30px;

}

.padding {
    background-color: green;

}

.margin-right {
    background-color: purple;
}

.border {
    background-color: crimson;
}

.container{
    width: 600px;
    border: 1px solid gray;
    margin: auto;
    font-size: 0;
}

.child-box {
    width: 180px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    display: inline-block;
}

.parent {
    width: 440px;
    border: 1px solid gray;
    margin: 50px auto;
    font-size: 0;
}

.child {
    width: 180px;
    height: 100px;
    border: 10px double black;
    margin: 10px;
    display: inline-block;
    background-color: gray;
    
}

.container-box {
    width: 700px;
    border: 1px solid gray;
    margin: 50px auto;
    font-size: 0;
}

.child-border {
    width: 203px;
    height: 100px;
    display: inline-block;
    border: 5px double black;
    margin: 10px;
    background-color: gray;
}